<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crowdsource Admin Poll</title>
  </head>
  <body>
    <h3>Poll URL:</h3>
    <p>
      <%= url + pollID %>
    </p>
    <h3>Your poll results so far:</h3>
  </body>
</html>
