<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css'>
    <meta charset="utf-8">
    <title>crowdsource</title>
  </head>
  <body>

    <div class="container">
      <h1>
        <a href="https://www.youtube.com/watch?v=pWdd6_ZxX8c" target="_blank">
          Yeah, well, that's just, like, your opinion, man
        </a>
      </h1>
      <hr>

      <h3>Share your poll with this url</h3>
      <p><%= url %></p>
      <h3>Poll results</h3>
      <div id="results">
        <% for (var option in results) { %>
          <p><%= option %>: <%= results[option] %></p>
        <% } %>
      </div>

      <h3>Poll status</h3>
      <div id="poll-status">
        <% if (closed) { %>
          <p>Poll is closed</p>
        <% } else { %>
          <p>Poll is open</p>
          <button class="btn" id="close-poll">Close poll</button>
        <% } %>
      </div>
      <br>
      <div id="connection-count"></div>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
