<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css'>
    <meta charset="utf-8">
    <title>crowdsource</title>
  </head>
  <body>

    <div class="container">
      <div id="poll-things">
        <br>
        <% if (closed) { %>
          <p>This poll is closed</p>
        <% } else { %>
            <h4><%= question %></h4>
            <div id="poll">
              <% options.forEach(function(option){ %>
                <button><%= option %></button><br><br>
              <% }); %>
            </div>
            <div id="selection"></div>
        <% } %>
      </div>

      <div class="poll-results">
        <% if (share === 'on') { %>
        <h3>Poll Results:</h3>
        <div id="results">
          <% for (var option in results){ %>
            <p><%= option %>: <%= results[option]%></p>
          <% } %>
        </div>
        <% } %>
      </div>

      <div id="connection-count"></div>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
